In [1]:
!pip install pandas
!pip install ipython-sql prettytable 

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: pandas in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: ipython-sql in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (3.17.0)
Requirement already satisfied: ipython in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython-sql) (9.9.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\administrator\appdata\roaming\python\python313\site-packages (from prettytable) (0.2.14)
Requirement already satisfied: greenlet>=1 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\administrator\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: colorama>=0.4.4 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator>=4.3.2 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from jedi>=0.18.1->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (3.0.1)
Requirement already satisfied: pure-eval in c:\users\administrator\appdata\roaming\python\python313\site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (0.2.3)

In [2]:
import pandas as pd
import sqlite3

# create / connect to SQLite database file
conn = sqlite3.connect("FinalDB.db")

In [7]:
%load_ext sql

In [9]:
census_data = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
chicago_public_schools = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
chicago_crime_data = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")

census_data.to_sql("census_data", conn, if_exists="replace", index=False )
chicago_public_schools.to_sql("chicago_public_schools", conn, if_exists="replace", index=False)
chicago_crime_data.to_sql("chicago_crime_data", conn, if_exists="replace", index=False)

533

In [10]:
%sql sqlite:///FinalDB.db

In [11]:
%sql select count("case_number") from chicago_crime_data

 * sqlite:///FinalDB.db
Done.

[(533,)]

In [20]:
%sql select "community_area_name", "community_area_number" from "census_data" where "per_capita_income" < 11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

In [82]:
%%sql

SELECT "Case_Number"
FROM "CHICAGO_CRIME_DATA"
WHERE "Primary_Type" LIKE '%MINOR%' 
   OR "Description" LIKE '%MINOR%' 
ORDER BY "Case_Number";

 * sqlite:///FinalDB.db
Done.

[('HK238408',), ('HL266884',)]

In [89]:
%%sql select "case_number", "primary_type", description, "location_description" 
from chicago_crime_data 
where "Primary_type" like "%KIDNAP%" 
    and description like '%CHILD%'

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET')]

In [54]:
%sql select distinct("primary_type"), description, "location_description" from chicago_crime_data where "location_description" like '%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

In [38]:
%%sql 
select "Elementary, Middle, or High School" as School_type, avg(safety_score) as avg_score
        from chicago_public_schools
            group by school_type
            order by avg_score desc

 * sqlite:///FinalDB.db
Done.

[('HS', 49.62352941176471), ('ES', 49.52038369304557), ('MS', 48.0)]

In [56]:
%%sql

SELECT "Community_Area_number" AS Most_Crime_Prone_Area
FROM "CHICAGO_CRIME_DATA"
GROUP BY "Community_Area_number"
ORDER BY COUNT(*) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

In [57]:
%%sql
select "community_area_name" from census_data 
order by percent_households_below_poverty desc limit 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [92]:
%%sql
select community_area_name, community_area_number from "census_data"
where hardship_index IN (
    select max("hardship_index") from "census_data")

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 54.0)]

In [91]:
%%sql

SELECT "COMMUNITY_AREA_NAME" AS Most_Crime_Prone_Area_Name
FROM "CENSUS_DATA"
WHERE "COMMUNITY_AREA_NUMBER" = (
    SELECT "Community_Area_number"
    FROM "CHICAGO_CRIME_DATA"
    GROUP BY "Community_Area_number"
    ORDER BY COUNT(*) DESC
    LIMIT 1
)

 * sqlite:///FinalDB.db
Done.

[('Austin',)]